.env
.venv/
__pycache__/
*.pyc

airflow/logs/
dbt_steam/logs/
dbt_steam/target/

data/
steam_app_list.json
steam_app_list_latest.json
steam_app_types_300.json

.DS_Store
secrets/*.txt
trino/certs/*.p12
trino/certs/*.key
trino/certs/*.crt
trino/certs/*.jks
trino/certs/*.srl
dbt_steam/.user.yml
Server.conf
vpn-clients/*.conf
