steam_trino:
  target: dev
  outputs:
    dev:
      type: trino
      method: ldap
      host: localhost
      port: 8082
      user: ilya
      password: "<set_password>"
      catalog: hive
      schema: raw
      threads: 4
      retries: 2
      http_scheme: https
      session_properties:
        query_max_run_time: 10m
      verify: false
